h1{font-family: 'Libre Baskerville', serif;color: blue}
h2{font-family: 'Urbanist', sans-serif;color: blue;}
h3 {font-family: 'Koh Santepheap', cursive;color: blue}
p {font-family: 'Koh Santepheap', cursive;}
th {font-family: 'Dhurjati', sans-serif;}
tr {font-family: 'Montserrat', sans-serif;}
ol {font-family: 'Koh Santepheap', cursive;}